# titanic_ud359
[Udacity](https://www.udacity.com/)のオンラインコース、"[Intro to Data Science](https://www.udacity.com/course/intro-to-data-science--ud359)"(ud359)サンプルコードの解読。<br>
Project 1でTitanic Datasetを扱う。

## ファイル構成
Project 1では以下の2つのスクリプトファイルを作成する。

1. simple_heuristic.py: 単純な場合分けで生死を予測する
2. complex_heuristic.py: 複雑な場合分けを生死を予測する

上記のファイルを参考に、簡単な分類を使った解析を行う。

Udacityの演習では、titanic_data.csvというファイルを使うが、<br>
[Kaggle](http://www.kaggle.com/c/titanic-gettingStarted)のサイトからダウンロードできるtitanic_train.csvと内容は同じなので、<br>
ファイル名は後者を使う。dataフォルダに保存した本ファイルを読み込んで、分析を行う。

In [101]:
import numpy as np
import pandas as pd
import statsmodels.api as sm #サンプルコードにあるが、使わない
%matplotlib inline

## 1. simple_heuristic.pyの解読

## データの読み込み
性別による単純な生存結果の予測を行う。<br>
まずはTitanicデータセットの読み込みから始める。

In [102]:
file_path = 'data/titanic_train.csv'
df = pd.read_csv(file_path)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [103]:
df.shape

(891, 12)

In [104]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## データセットの概観

１２個の特徴量で、うち7個は数値データ。

## 性別を参照した単純な分類による生死の予測

男性であれば死（prediction=0）、女性であれば生（prediction=1）という単純な分類を行う。<br>
ディクショナリ形式の変数predictionsに、乗客の生死の予測結果を収納する。

## iterrowsの使い方  
pandas.DataFrame.iterrowsはタプルを返し、1番目の戻り値にnumerator(index),  
２番目の戻り値はDataFrameを返す。  
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iterrows.html

In [105]:
predictions = {}
for passenger_index, passenger in df.iterrows():
    if passenger['Sex'] == 'male':
        predictions[passenger_index] = 0
    else:
        predictions[passenger_index] = 1
predictions

{0: 0,
 1: 1,
 2: 1,
 3: 1,
 4: 0,
 5: 0,
 6: 0,
 7: 0,
 8: 1,
 9: 1,
 10: 1,
 11: 1,
 12: 0,
 13: 0,
 14: 1,
 15: 1,
 16: 0,
 17: 0,
 18: 1,
 19: 1,
 20: 0,
 21: 0,
 22: 1,
 23: 0,
 24: 1,
 25: 1,
 26: 0,
 27: 0,
 28: 1,
 29: 0,
 30: 0,
 31: 1,
 32: 1,
 33: 0,
 34: 0,
 35: 0,
 36: 0,
 37: 0,
 38: 1,
 39: 1,
 40: 1,
 41: 1,
 42: 0,
 43: 1,
 44: 1,
 45: 0,
 46: 0,
 47: 1,
 48: 0,
 49: 1,
 50: 0,
 51: 0,
 52: 1,
 53: 1,
 54: 0,
 55: 0,
 56: 1,
 57: 0,
 58: 1,
 59: 0,
 60: 0,
 61: 1,
 62: 0,
 63: 0,
 64: 0,
 65: 0,
 66: 1,
 67: 0,
 68: 1,
 69: 0,
 70: 0,
 71: 1,
 72: 0,
 73: 0,
 74: 0,
 75: 0,
 76: 0,
 77: 0,
 78: 0,
 79: 1,
 80: 0,
 81: 0,
 82: 1,
 83: 0,
 84: 1,
 85: 1,
 86: 0,
 87: 0,
 88: 1,
 89: 0,
 90: 0,
 91: 0,
 92: 0,
 93: 0,
 94: 0,
 95: 0,
 96: 0,
 97: 0,
 98: 1,
 99: 0,
 100: 1,
 101: 0,
 102: 0,
 103: 0,
 104: 0,
 105: 0,
 106: 1,
 107: 0,
 108: 0,
 109: 1,
 110: 0,
 111: 1,
 112: 0,
 113: 1,
 114: 1,
 115: 0,
 116: 0,
 117: 0,
 118: 0,
 119: 1,
 120: 0,
 121: 0,
 122: 0,
 123: 1,
 124: 0,
 125: 0,
 126: 0,
 127: 0,
 128: 1,
 129: 0,
 130: 0,
 131: 0,
 132: 1,
 133: 1,
 134: 0,
 135: 0,
 136: 1,
 137: 0,
 138: 0,
 139: 0,
 140: 1,
 141: 1,
 142: 1,
 143: 0,
 144: 0,
 145: 0,
 146: 0,
 147: 1,
 148: 0,
 149: 0,
 150: 0,
 151: 1,
 152: 0,
 153: 0,
 154: 0,
 155: 0,
 156: 1,
 157: 0,
 158: 0,
 159: 0,
 160: 0,
 161: 1,
 162: 0,
 163: 0,
 164: 0,
 165: 0,
 166: 1,
 167: 1,
 168: 0,
 169: 0,
 170: 0,
 171: 0,
 172: 1,
 173: 0,
 174: 0,
 175: 0,
 176: 0,
 177: 1,
 178: 0,
 179: 0,
 180: 1,
 181: 0,
 182: 0,
 183: 0,
 184: 1,
 185: 0,
 186: 1,
 187: 0,
 188: 0,
 189: 0,
 190: 1,
 191: 0,
 192: 1,
 193: 0,
 194: 1,
 195: 1,
 196: 0,
 197: 0,
 198: 1,
 199: 1,
 200: 0,
 201: 0,
 202: 0,
 203: 0,
 204: 0,
 205: 1,
 206: 0,
 207: 0,
 208: 1,
 209: 0,
 210: 0,
 211: 1,
 212: 0,
 213: 0,
 214: 0,
 215: 1,
 216: 1,
 217: 0,
 218: 1,
 219: 0,
 220: 0,
 221: 0,
 222: 0,
 223: 0,
 224: 0,
 225: 0,
 226: 0,
 227: 0,
 228: 0,
 229: 1,
 230: 1,
 231: 0,
 232: 0,
 233: 1,
 234: 0,
 235: 1,
 236: 0,
 237: 1,
 238: 0,
 239: 0,
 240: 1,
 241: 1,
 242: 0,
 243: 0,
 244: 0,
 245: 0,
 246: 1,
 247: 1,
 248: 0,
 249: 0,
 250: 0,
 251: 1,
 252: 0,
 253: 0,
 254: 1,
 255: 1,
 256: 1,
 257: 1,
 258: 1,
 259: 1,
 260: 0,
 261: 0,
 262: 0,
 263: 0,
 264: 1,
 265: 0,
 266: 0,
 267: 0,
 268: 1,
 269: 1,
 270: 0,
 271: 0,
 272: 1,
 273: 0,
 274: 1,
 275: 1,
 276: 1,
 277: 0,
 278: 0,
 279: 1,
 280: 0,
 281: 0,
 282: 0,
 283: 0,
 284: 0,
 285: 0,
 286: 0,
 287: 0,
 288: 0,
 289: 1,
 290: 1,
 291: 1,
 292: 0,
 293: 1,
 294: 0,
 295: 0,
 296: 0,
 297: 1,
 298: 0,
 299: 1,
 300: 1,
 301: 0,
 302: 0,
 303: 1,
 304: 0,
 305: 0,
 306: 1,
 307: 1,
 308: 0,
 309: 1,
 310: 1,
 311: 1,
 312: 1,
 313: 0,
 314: 0,
 315: 1,
 316: 1,
 317: 0,
 318: 1,
 319: 1,
 320: 0,
 321: 0,
 322: 1,
 323: 1,
 324: 0,
 325: 1,
 326: 0,
 327: 1,
 328: 1,
 329: 1,
 330: 1,
 331: 0,
 332: 0,
 333: 0,
 334: 1,
 335: 0,
 336: 0,
 337: 1,
 338: 0,
 339: 0,
 340: 0,
 341: 1,
 342: 0,
 343: 0,
 344: 0,
 345: 1,
 346: 1,
 347: 1,
 348: 0,
 349: 0,
 350: 0,
 351: 0,
 352: 0,
 353: 0,
 354: 0,
 355: 0,
 356: 1,
 357: 1,
 358: 1,
 359: 1,
 360: 0,
 361: 0,
 362: 1,
 363: 0,
 364: 0,
 365: 0,
 366: 1,
 367: 1,
 368: 1,
 369: 1,
 370: 0,
 371: 0,
 372: 0,
 373: 0,
 374: 1,
 375: 1,
 376: 1,
 377: 0,
 378: 0,
 379: 0,
 380: 1,
 381: 1,
 382: 0,
 383: 1,
 384: 0,
 385: 0,
 386: 0,
 387: 1,
 388: 0,
 389: 1,
 390: 0,
 391: 0,
 392: 0,
 393: 1,
 394: 1,
 395: 0,
 396: 1,
 397: 0,
 398: 0,
 399: 1,
 400: 0,
 401: 0,
 402: 1,
 403: 0,
 404: 1,
 405: 0,
 406: 0,
 407: 0,
 408: 0,
 409: 1,
 410: 0,
 411: 0,
 412: 1,
 413: 0,
 414: 0,
 415: 1,
 416: 1,
 417: 1,
 418: 0,
 419: 1,
 420: 0,
 421: 0,
 422: 0,
 423: 1,
 424: 0,
 425: 0,
 426: 1,
 427: 1,
 428: 0,
 429: 0,
 430: 0,
 431: 1,
 432: 1,
 433: 0,
 434: 0,
 435: 1,
 436: 1,
 437: 1,
 438: 0,
 439: 0,
 440: 1,
 441: 0,
 442: 0,
 443: 1,
 444: 0,
 445: 0,
 446: 1,
 447: 0,
 448: 1,
 449: 0,
 450: 0,
 451: 0,
 452: 0,
 453: 0,
 454: 0,
 455: 0,
 456: 0,
 457: 1,
 458: 1,
 459: 0,
 460: 0,
 461: 0,
 462: 0,
 463: 0,
 464: 0,
 465: 0,
 466: 0,
 467: 0,
 468: 0,
 469: 1,
 470: 0,
 471: 0,
 472: 1,
 473: 1,
 474: 1,
 475: 0,
 476: 0,
 477: 0,
 478: 0,
 479: 1,
 480: 0,
 481: 0,
 482: 0,
 483: 1,
 484: 0,
 485: 1,
 486: 1,
 487: 0,
 488: 0,
 489: 0,
 490: 0,
 491: 0,
 492: 0,
 493: 0,
 494: 0,
 495: 0,
 496: 1,
 497: 0,
 498: 1,
 499: 0,
 500: 0,
 501: 1,
 502: 1,
 503: 1,
 504: 1,
 505: 0,
 506: 1,
 507: 0,
 508: 0,
 509: 0,
 510: 0,
 511: 0,
 512: 0,
 513: 1,
 514: 0,
 515: 0,
 516: 1,
 517: 0,
 518: 1,
 519: 0,
 520: 1,
 521: 0,
 522: 0,
 523: 1,
 524: 0,
 525: 0,
 526: 1,
 527: 0,
 528: 0,
 529: 0,
 530: 1,
 531: 0,
 532: 0,
 533: 1,
 534: 1,
 535: 1,
 536: 0,
 537: 1,
 538: 0,
 539: 1,
 540: 1,
 541: 1,
 542: 1,
 543: 0,
 544: 0,
 545: 0,
 546: 1,
 547: 0,
 548: 0,
 549: 0,
 550: 0,
 551: 0,
 552: 0,
 553: 0,
 554: 1,
 555: 0,
 556: 1,
 557: 0,
 558: 1,
 559: 1,
 560: 0,
 561: 0,
 562: 0,
 563: 0,
 564: 1,
 565: 0,
 566: 0,
 567: 1,
 568: 0,
 569: 0,
 570: 0,
 571: 1,
 572: 0,
 573: 1,
 574: 0,
 575: 0,
 576: 1,
 577: 1,
 578: 1,
 579: 0,
 580: 1,
 581: 1,
 582: 0,
 583: 0,
 584: 0,
 585: 1,
 586: 0,
 587: 0,
 588: 0,
 589: 0,
 590: 0,
 591: 1,
 592: 0,
 593: 1,
 594: 0,
 595: 0,
 596: 1,
 597: 0,
 598: 0,
 599: 0,
 600: 1,
 601: 0,
 602: 0,
 603: 0,
 604: 0,
 605: 0,
 606: 0,
 607: 0,
 608: 1,
 609: 1,
 610: 1,
 611: 0,
 612: 1,
 613: 0,
 614: 0,
 615: 1,
 616: 0,
 617: 1,
 618: 1,
 619: 0,
 620: 0,
 621: 0,
 622: 0,
 623: 0,
 624: 0,
 625: 0,
 626: 0,
 627: 1,
 628: 0,
 629: 0,
 630: 0,
 631: 0,
 632: 0,
 633: 0,
 634: 1,
 635: 1,
 636: 0,
 637: 0,
 638: 1,
 639: 0,
 640: 0,
 641: 1,
 642: 1,
 643: 0,
 644: 1,
 645: 0,
 646: 0,
 647: 0,
 648: 0,
 649: 1,
 650: 0,
 651: 1,
 652: 0,
 653: 1,
 654: 1,
 655: 0,
 656: 0,
 657: 1,
 658: 0,
 659: 0,
 660: 0,
 661: 0,
 662: 0,
 663: 0,
 664: 0,
 665: 0,
 666: 0,
 667: 0,
 668: 0,
 669: 1,
 670: 1,
 671: 0,
 672: 0,
 673: 0,
 674: 0,
 675: 0,
 676: 0,
 677: 1,
 678: 1,
 679: 0,
 680: 1,
 681: 0,
 682: 0,
 683: 0,
 684: 0,
 685: 0,
 686: 0,
 687: 0,
 688: 0,
 689: 1,
 690: 0,
 691: 1,
 692: 0,
 693: 0,
 694: 0,
 695: 0,
 696: 0,
 697: 1,
 698: 0,
 699: 0,
 700: 1,
 701: 0,
 702: 1,
 703: 0,
 704: 0,
 705: 0,
 706: 1,
 707: 0,
 708: 1,
 709: 0,
 710: 1,
 711: 0,
 712: 0,
 713: 0,
 714: 0,
 715: 0,
 716: 1,
 717: 1,
 718: 0,
 719: 0,
 720: 1,
 721: 0,
 722: 0,
 723: 0,
 724: 0,
 725: 0,
 726: 1,
 727: 1,
 728: 0,
 729: 1,
 730: 1,
 731: 0,
 732: 0,
 733: 0,
 734: 0,
 735: 0,
 736: 1,
 737: 0,
 738: 0,
 739: 0,
 740: 0,
 741: 0,
 742: 1,
 743: 0,
 744: 0,
 745: 0,
 746: 0,
 747: 1,
 748: 0,
 749: 0,
 750: 1,
 751: 0,
 752: 0,
 753: 0,
 754: 1,
 755: 0,
 756: 0,
 757: 0,
 758: 0,
 759: 1,
 760: 0,
 761: 0,
 762: 0,
 763: 1,
 764: 0,
 765: 1,
 766: 0,
 767: 1,
 768: 0,
 769: 0,
 770: 0,
 771: 0,
 772: 1,
 773: 0,
 774: 1,
 775: 0,
 776: 0,
 777: 1,
 778: 0,
 779: 1,
 780: 1,
 781: 1,
 782: 0,
 783: 0,
 784: 0,
 785: 0,
 786: 1,
 787: 0,
 788: 0,
 789: 0,
 790: 0,
 791: 0,
 792: 1,
 793: 0,
 794: 0,
 795: 0,
 796: 1,
 797: 1,
 798: 0,
 799: 1,
 800: 0,
 801: 1,
 802: 0,
 803: 0,
 804: 0,
 805: 0,
 806: 0,
 807: 1,
 808: 0,
 809: 1,
 810: 0,
 811: 0,
 812: 0,
 813: 1,
 814: 0,
 815: 0,
 816: 1,
 817: 0,
 818: 0,
 819: 0,
 820: 1,
 821: 0,
 822: 0,
 823: 1,
 824: 0,
 825: 0,
 826: 0,
 827: 0,
 828: 0,
 829: 1,
 830: 1,
 831: 0,
 832: 0,
 833: 0,
 834: 0,
 835: 1,
 836: 0,
 837: 0,
 838: 0,
 839: 0,
 840: 0,
 841: 0,
 842: 1,
 843: 0,
 844: 0,
 845: 0,
 846: 0,
 847: 0,
 848: 0,
 849: 1,
 850: 0,
 851: 0,
 852: 1,
 853: 1,
 854: 1,
 855: 1,
 856: 1,
 857: 0,
 858: 1,
 859: 0,
 860: 0,
 861: 0,
 862: 1,
 863: 1,
 864: 0,
 865: 1,
 866: 1,
 867: 0,
 868: 0,
 869: 0,
 870: 0,
 871: 1,
 872: 0,
 873: 0,
 874: 1,
 875: 1,
 876: 0,
 877: 0,
 878: 0,
 879: 1,
 880: 1,
 881: 0,
 882: 1,
 883: 0,
 884: 0,
 885: 1,
 886: 0,
 887: 1,
 888: 1,
 889: 0,
 890: 0}

In [106]:
# predictions[i]とdf['Survived']が合致するときは正解、合致しないときは不正解として、
# 正答率(correct_rate)を算出して、表示する。
total_count = 0
correct_count = 0
for row_index, row in df.iterrows():
    total_count += 1
    if predictions[row_index] == row['Survived']:
        correct_count += 1
correct_rate = correct_count/total_count
print(correct_rate)

0.7867564534231201

## 結果

性別による単純な分類であっても、78%以上の精度で生存結果の予測が当たる。<br>
つまりタイタニック号事件では、女性を優先して救助したため、男性の生存率が低く、<br>
女性の生存率が高くなったことがわかる。  <br>

次により複雑な場合分けをする。

## 2. complex_heuristic.pyの解読

## もう少し複雑な分類
性別（Sex）、客室クラス（Pclass）、年齢（Age）、運賃（Fare）の違いで生死の予測を行う。  
以下の条件を満たす乗客を生（Prediction=1）とする。
1. 性別：女性（female）　または
2. 客室クラス：2級以下　かつ
3. 年齢：１３歳以下 かつ
4. 運賃：１０以上

In [107]:
predictions = {}
# df = pandas.read_csv(file_path)
for passenger_index, passenger in df.iterrows():
    if ((passenger['Sex']=='female') or (passenger['Pclass']<=2) and
        (passenger['Age']<=13) and (passenger['Fare']>=10)):
        predictions[passenger_index] = 1
    else:
        predictions[passenger_index] = 0

In [108]:
total_count = 0
correct_count = 0
for row_index, row in df.iterrows():
    total_count += 1
#     print(row_index, row['Survived'])
    if predictions[row_index] == row['Survived']:
        correct_count += 1
correct_rate = correct_count/total_count
print(correct_rate)

0.8002244668911336

## 結果
上記のとおり、4つの条件を組み合わせると、80%以上の精度に改善することがわかる。  
ただしこの予測では、男性の生存者を抽出することができないので、これ以上の精度の  
改善は難しい。

## 追記
より精度の高い分類を行う方法として、機械学習や統計的手法を用いた分類法がある。<br>
[Kaggle](http://www.kaggle.com/c/titanic-gettingStarted)では"Titanic: Machine Learning from Disaster"というタイトルで、<br>
データセットを公開して、高い予測精度を出す計算モデルのコンペティションを開催している。<br>
〆切は２０１６年１２月31日。Kaggleのアカウントを登録した人は誰でもスクリプトを投稿することができる。